services:
    app:
        build: .
        container_name: laravel_app
        ports:
            - "8080:8000"
        env_file:
            - .env
        volumes:
            - ./:/var/www/html
            - ./storage:/var/www/html/storage
        command: php artisan serve --host=0.0.0.0 --port=8000
