version: "3.9"

services:
    app:
        build: .
        container_name: laravel_app
        ports:
            - "8080:8000"
        env_file:
            - .env
        volumes:
            - ./storage:/var/www/storage
            - ./public:/var/www/public
        # depends_on:
        #     - mysql
        command: php artisan serve --host=0.0.0.0 --port=8000
